* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* display: none; Initially hidden */
    z-index: -1; /* Ensure it is behind other content */
}

.quiz-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: min(90%,1000px);
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#question{
    max-width: 100%;
    word-wrap: break-word;
}

#options-container {
    display: flex;
    flex-direction: column;
}

#circuit{
    width: 100%;
    aspect-ratio: 1/1;
}

.option {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
}

.option:hover {
    background-color: #0056b3;
}

#progress {
    font-size: 1em;
    color: #333;
    margin: 20px 0;
}

#next-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}